.carRoutesView {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 375px;
    padding: 10px 15px;
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    box-shadow: 20px #3f3785e8;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 45px;
  }

  .txtLabel {
    margin-top: 10px;
    display: flex;
    color: aliceblue;
  }

.carLabel {
    color: rgb(43, 43, 43);
}
.departureDate {
    color: rgb(0, 0, 0);
}

.returnDate {
  color: rgb(43, 43, 43);
}

.createTrackBtn {
    background-color: rgba(37, 109, 156, 0.918);
    color: aliceblue;
    margin-top: 35px;
  }
  .createTrackBtn:hover {
    background-color: rgba(42, 126, 182, 0.918);
    cursor: pointer;
  }

  vaadin-select > label {
    color: rgb(12, 106, 189);
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
}
  vaadin-date-time-picker > label {
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    
    color: rgb(12, 106, 189);
}

vaadin-date-time-picker-date-picker::part(input-field){
  background-color: rgb(226, 226, 226);
  border-radius: 3px;
}

vaadin-date-time-picker-time-picker::part(input-field){
  background-color: rgb(226, 226, 226);
  border-radius: 3px;
}

vaadin-select::part(input-field){
  background-color: rgb(226, 226, 226);
  border-radius: 3px;
}
