.carsInfoContainer {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 290px;
    padding: 10px 15px;
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    box-shadow: 20px #3f3785e8;
    margin-left: 5px;
    padding-bottom: 20px;
    margin-bottom: 9px;
  }

.brandLabel {
    color: rgba(42, 126, 182, 0.918);
}
.showBrandLabel {
    color: rgb(211, 211, 211);
}

.modelLabel {
    color: rgba(42, 126, 182, 0.918);

}
.showModelLabel {
    color: rgb(211, 211, 211);

}

.registrationNumberLabel {
    color: rgba(42, 126, 182, 0.918);
}
.showRegistrationNumberLabel {
    color: rgb(211, 211, 211);
}
