.view-header {
  top: 0;
  background-color: rgb(43, 43, 43);
  z-index: 2;
  left: 0;
  width: 100%;
}
.auth-button {
  position: relative;
  margin: 26px 20px 10px auto;
  background-color: rgba(37, 109, 156, 0.918);
  color: aliceblue;
}
.auth-button:hover {
  background-color: rgba(42, 126, 182, 0.918);
  cursor: pointer;
}

.exit-button {
  position: relative;
  margin: 26px 20px 10px auto;
  background-color: rgba(37, 109, 156, 0.918);
  color: aliceblue;
}
.exit-button:hover {
  background-color: rgba(42, 126, 182, 0.918);
  cursor: pointer;
}

.logo {
  display: flex;
  margin: 10px;
  width: 70px;
  height: 70px;
}


